<nav class="navbar">
    <div class="container-fluid">
        <a class="nav-link text-white">
            <h3 style="color:#fff">User-Dashboard</h3>
         </a>
         <br> 
      <div class="d-flex">
        <div class="wrap">
            <button class="button mx-5"><a routerLink="/makeappointment" type="submit"> <p style="color: rgb(31, 27, 27);"> Appointment</p></a></button>
          </div>
          <div class="wrap">
            <button class="button" style="color:rgb(37, 35, 35)"><a (click)="logoutUser()" type="submit">Logout</a></button>
          </div>
      </div>
    </div>
</nav>
