<app-admin-dashboard></app-admin-dashboard>
<nav class="navbar float-right">
  <div class="container-fluid">
    <div class="d-flex" style="margin-left: 1065px">
      <button (click)="addNewRoom()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Create Room</button>
    </div>
  </div>
</nav>
<table class="container table table-hover table-sm table-bordered table-responsive-sm" style="text-align: center">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Room Name</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of roomData">
      <td>{{ data.id }}</td>
      <td>{{ data.roomName }}</td>
      <td>{{ data.description }}</td>
      <th>
        <button (click)="editRooms(data)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-toggle="tooltip" data-placement="top" title="Edit"> Edit<i class="fas fa-edit"></i></button>
        <button (click)="removeRooms(data)" class="btn btn-danger" data-toggle="tooltip" data-placement="top"title="Delete"> Delete <i class="fas fa-trash"></i>
</button>
      </th>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          create room
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="roomValue" style="border-radius: 50px">
          <div class="mb-3">
            <input type="text" formControlName="roomName" class="form-control form-control-sm"
              id="exampleFormControlInput1" placeholder="Room Name" />
            <small *ngIf=" roomValue.controls['roomName'].dirty && roomValue.hasError('required', 'roomName') " class="text-danger">
              *Room Name required
            </small>
          </div>

          <div class="form-floating">
            <textarea class="form-control" formControlName="description" placeholder="Write Room Description"
              id="floatingTextarea"></textarea>
            <label>Description</label>
            <small *ngIf="roomValue.controls['description'].dirty && roomValue.hasError('required', 'description') " class="text-danger">*Don't Keep discription Empty</small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" [disabled]="roomValue.invalid" data-bs-dismiss="modal" (click)="createRooms()"
          *ngIf="showAdd" class="btn btn-primary">
          Add
        </button>
        <button type="button" data-bs-dismiss="modal" (click)="updateSaveRooms()" *ngIf="showUpdate"
          class="btn btn-success">
          Update
        </button>
      </div>
    </div>
  </div>
</div>