<nav class="navbar">
  <div class="container-fluid">
    <h3>Admin-Dashboard</h3>
    <div class="d-flex">
      <div class="wrap">
        <button class="button mx-3" style="color:#fff"><a routerLink="/dashboard">Approval</a></button>
      </div>
      <div class="wrap">
        <button class="button mx-3" style="color:#fff"><a routerLink="/createroom">CreateRoom</a></button>
      </div>
      <div class="wrap">
        <button class="button mx-3" style="color:#fff"> <a (click)="logOut()">Logout</a></button>
      </div>
    </div>
  </div> 
</nav>

<br><br><br>